{% extends 'secondcourse/base1.html' %}
{% load static %}


{% block title %}ХТП 1-21{% endblock %}




{% block intro %} 
<div class="intro"> ХТП 1-21 </div>
{% endblock %}



{% block content %}
    <table class="schedule">
       
        <tr class='times'>
          
            <th class="time"><b>TIME</b></th>
            <td>MONDAY</td>
            <td>TUESDAY</td>
            <td>WEDNESDAY</td>
            <td>THURSDAY</td>
            <td>FRIDAY</td>

        </tr>


        {% for i in schedule %}    
        <tr class='success'>       
        <th>{{ i.time }}</th>
        <th><b>{{ i.monday }} {{ i.teacher_room1}}</b></th>
        <th><b>{{ i.tuesday }} {{ i.teacher_room2}}</b></th>
        <th><b>{{ i.wednesday }} {{ i.teacher_room3}}</b></th>
        <th><b>{{ i.thursday }} {{ i.teacher_room4}}</b></th>
        <th><b>{{ i.friday }} {{ i.teacher_room5}}</b></th>
            
        </tr>
        {% endfor %}

    </table>


{% endblock %}



   
