{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
</head>
<body> 
    <div class="buttonn">
        <a  href='/'>На Главную</a> 
        </div>
    <div class="selector">
        <legend class="legend">Выберите группу</legend>
        </div>
        <select class="select-css" onchange="document.location=this.options[this.selectedIndex].value">
            <option>Группа</option>
            <option value="АиУ 1-19">АиУ 1-19</option>
            <option value="АиУ 2-19">АиУ 2-19</option>
            <option value="БНГС 1-19">БНГС 1-19</option>
            <option value="ЭС 1-19">ЭС 1-19</option>
            <option value="ЭС 2-19">ЭС 2-19</option>
            <option value="ЭС 3-19">ЭС 3-19</option>
            <option value="ЭС 4-19">ЭС 4-19</option>
            <option value="ЭНГМ 1-19">ЭНГМ 1-19</option>
            <option value="ЭНГМ 2-19">ЭНГМ 2-19</option>
            <option value="ЭНГМ 3-19">ЭНГМ 3-19</option>
            <option value="ИС 1-19">ИС 1-19</option>
            <option value="ИС 2-19">ИС 2-19</option>
            <option value="КИП 1-19">КИП 1-19</option>
            <option value="КИП 2-19">КИП 2-19</option>
            <option value="КИП 3-19">КИП 3-19</option>
            <option value="КИП 4-19">КИП 4-19</option>
            <option value="ТДНГ 1-19">ТДНГ 1-19</option>
            <option value="ТХИ 1-19">ТХИ 1-19</option>
            <option value="ТХИ 2-19">ТХИ 2-19</option>
            <option value="ТХИ 3-19">ТХИ 3-19</option>
          </select>
        
{% block select %}{% endblock %}
{% block intro %}{% endblock %}
{% block content %}{% endblock %}

{% block a %}{% endblock %}
</body>
</html>